.game-list-item {
    margin: 25px 0px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 30%);
    cursor:pointer;
}

.game-list-item .teams {
    display: flex;
    background: #262626;
    color: #f9f9f9;
    font-size: 2em;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 0px 12px 0px;
}

.game-list-item .team-name {
    min-width: 300px;
    text-align: center;
    margin-top:12px;
}

.game-list-item .score {
    background: #eee;
    color: #333;
    padding: 6px 10px 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

.game-list-item .status-bar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 20px;
    border-radius:0px 0px 4px 4px;
}

.game-list-item .status-bar.status-upcoming {
    background-color:#91582f;
}

.game-list-item .status-bar.status-in-progress {
    background-color:#3f8939;
}

.game-list-item .game-status {
    text-align: left;
}

.game-list-item .timer {
    text-align: center;
}

.game-list-item .stadium {
    text-align: right;
}